/*- Dark text: #3A3238
- Dark background: #6E4555
- Light text: #F5E3E0
- Light background: #E8B4BC
- Mid-tone: #D282A6
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
  background-color: #E8B4BC;
}

* {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

div.pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  color: #3A3238;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 30px;
  line-height: 1.5;
}

nav {
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6E4555;
  font-family: "Raleway", sans-serif;
  border: 1px solid #D282A6;
}

li {
  justify-content: center;
  float: right;
  border: solid #D282A6;
  border-width: 0px 1px 0px 1px;
}

li a {
  font-family: "Raleway", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D282A6;
  color: #3A3238;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding: 12px;
  color: white;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  color: #6E4555;
  padding: 30px;
}

.text {
  background-color: white;
  margin: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #3A3238;
}

.column {
  float: left;
  width: 44%;
  display: flex;
  padding: 3%;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}

.column1 {
  float: center;
  width: 48%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content:space-evenly;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
  width: 94%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.imageText {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  height: 150px;
}
